@using BlazorApp.Models



@* 	<div class="card" aria-hidden="true">
		<img src="..." class="card-img-top" alt="">

		<div class="card-header">
			<h5 class="card-title placeholder-glow">
				<span class="placeholder col-6"></span>
				<span class="placeholder col-4"></span>
			</h5>
		</div>
		<div class="card-body">
			<p class="card-text placeholder-glow mb-2">
				<span class="placeholder col-3"></span>
				<span class="placeholder col-3"></span>
			</p>
			<a class="btn btn-sm btn-dark disabled placeholder col-3" aria-disabled="true"></a>
			<a class="btn btn-sm btn-dark disabled placeholder col-3" aria-disabled="true"></a>
		</div>
	</div> *@


@if (book != null)
{
	<div class="col">
		<div class="card shadow my-4 d-flex card-hover">
			<NavLink href=@($"/books/{book.Id}")>
				<div class="ratio ratio-1x1">
					<img src="@($"/images/books/{book.Id}.jpg")"
						 class="img-fluid card-img-top"
						 style="object-fit: cover;"
						 alt="@book.Title">
					 </div>
			</NavLink>

			<div class="card-header">
				<h4 class="card-title text-truncate" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
					@book.Title
				</h4>
				<small class="card-subtitle"><i>by @book.Author</i></small>
				
			</div>

			<div class="card-body d-flex flex-column">
				<div class="d-flex justify-content-between mb-2">
					<div class="active text-alert fw-semibold ">@book.Price.ToString("#,###.00") dkk</div>
					<span style="color: @(book.IsInStock ? "green " : "grey")">
						@(book.IsInStock ? "in stock" : "out of stock")
					</span>
				</div>
				<div class="d-flex justify-content-between">
					<NavLink class="btn btn-sm btn-light btn-outline-dark" href=@($"/books/{book.Id}")>
						More Info
					</NavLink>
					<a href="/Cart" class="btn btn-sm btn-light btn-outline-dark ml-2">Add to cart</a>
				</div>
			</div>
		</div>
	</div>
}

else
{
	<p>Book details are not available.</p>
}


@code {
	[Parameter]
	public Book? book { get; set; }
	public bool isLoading = true;

	protected override async Task OnInitializedAsync()
	{
		//isLoading = false;
		StateHasChanged();
	}
}
<style>
		.card-hover:hover

	{
		transform: scale(1.05);
	}
	
</style>